

.container-con{
    display: flex;
    margin-top: 80%;
    gap: 10%;
  }
  
  .right-wheel-table{
    font: 1em sans-serif;
    font-size: smaller;
    margin-top: 5%;
    border-collapse: collapse;
  
  }
  
  .am-st-table th,
  .right-wheel-table td{
    padding: 6px;
    border: 1px solid black;
  }

  