#slider-div1 {
    display: flex;


    background-color: white;
    color: rgb(112, 114, 114);
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 0.1px solid white; */
}

#slider-div1>div {


    border-radius: 200px;

    height: 100%;
    padding: 0px 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider_on {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    background-color: var(--battery-green);
    background-image: linear-gradient(rgb(92, 255, 70), var(--battery-green));

    border-radius: 200px;
    width: 50%;
    position: absolute;
    transition: transform 1s cubic-bezier(.77, 0, .175, 1);


}

.slider_right {
    right: 0;

}

.slider_left {
    left: 0;


}

@media only screen and (max-width: 900px) {

    .slider-div1>div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-small;
    }

}

@media only screen and (max-width: 500px) {

    .slider-div1 {
        height: 40%;
        font-size: xx-small;
    }

    .slider-div1>div {

        padding: 0px 5px;
    }

}