/* .amr{
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 255, 0.568);
    display: flex;
    justify-content: left;
    align-items: center;
    color: aliceblue;
    transition: transform .9000091s ease-in-out;

}
/* .amr.animate {
    top: 100px;
    left: 200px;
  } */
  /* #s{
    background-color: rgba(255, 254, 254, 0.514);
  } */ 