.anzo-intro {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 100%;

    height: 100vh;



    background-color: rgba(144, 179, 224, 0.432);

    animation-name: intro_div1_animation;
    animation-duration: 1s

}
@keyframes intro_div1_animation {
    from {
        background-color: rgba(144, 179, 224, 0.432);

    /* background-color: rgba(238, 238, 238, 0.733); */
    }
    
    to {
        background-color: rgba(0, 0, 0, 0.699);

    }
    }

.anzo-intro>img {

/* background-color: red; */
    width: 100%;
    animation-name: intro_animation;
    animation-duration: 1s;
    
}


@keyframes intro_animation {
from {
  width: 10px;
/* background-color: rgba(238, 238, 238, 0.733); */
}

to {
  width: 100%;
}
}